#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.app-background {
  background-image: "react_frontend/public/LPOS.png";
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
